*{
	box-sizing: border-box;
	font-size: 1rem;
}

html, body{
	margin: 0;
	padding: 0;
	max-width: 100%;
	/* Horizontal scroll on IE11 fix*/
	overflow-x: hidden;
}

a{
	min-width: 48px;
	min-height: 48px;
}

img{
	max-width: 100%;
}

/* Ally */
.skip a
{
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
	background-color: blue;
	border: 1px solid black;
	color: white;
}

.skip a:focus
{
	position:static;
	width:auto;
	height:auto;
}


.grid > *{
}

/* A class with the same name of the semantic tags has been added. Reason: class selectors resolve quicker than element selectors */
.header, .main, .bio, .aside, .nav, .footer{
	display: flex;
}

/* Grid */
.grid{
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-columns: repeat(8, 1fr);
	-ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-auto-rows: minmax(50px, auto);
	margin: 0 auto;
	grid-template-areas:
		"h h h h h h h h"
		"a a a a a a a a"
		"c c c c c c c c"
		"f f f f f f f f";
	width: 100%;
}

/* Header */
.header{
	-ms-grid-row: 1;
 	-ms-grid-column: 1;
  -ms-grid-column-span: 8;
	grid-area: h;
	border-bottom-right-radius: 15% 10%;
	border-bottom-left-radius: 50% 60%;
	border-bottom: 1px solid rgb(26, 174, 210);
	background-color: white;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 1.5em;
}

.logo{
	width: 20%;
	height: 20%;
	margin-left: .3em;
	margin-top: 1em;
}

.header-text{
	display: flex;
	flex-wrap: wrap;
	text-decoration: none;
	justify-content: space-around;
	color:  #0bbcef;
	font-family: 'Slabo 27px', serif;
}

.h-name{
	font-size: 2em;
}

.h-job{
	font-size: 1.3em;
	margin-top: -1em;
	margin-left: 6em;
}

/* Main */
.main{
	-ms-grid-row: 2;
 	-ms-grid-column: 3;
 	-ms-grid-column-span: 8;
 	grid-area: c;
 	flex-direction: column;
 	padding: .5em;
 	font-size: 1.2rem;
 	text-align: justify;
}

.demo{
	margin: 0 auto;
}

.demo{
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-columns: repeat(8, 1fr);
	-ms-grid-rows: 1fr 1fr;
	grid-template-rows: repeat(2, 200px);
	max-width: 960px;
	min-width: 350px;
	grid-gap: 20px;
	grid-row-gap: 5em;
}

/* Gallery */
.demo div{
	border: 1px solid black;
	padding: 30px;
}

#one{
	grid-column: 1/5;
}

#two{
	-ms-grid-column: 2;
	grid-column: 5/9;
}

#three{
	-ms-grid-column: 3;
	grid-row: 2/3;
	grid-column: 1/5;
}

#four{
	-ms-grid-column: 4;
	grid-column: 5/9;
}

.bio{
	display: flex;
}
/* Menu */
.aside{
	-ms-grid-row: 2;
 	-ms-grid-column: 1;
 	-ms-grid-row-span: 1;		/* BEFORE: span = 6. Reason for change: IE bug*/
 	-ms-grid-column-span: 2;
 	grid-area: a;
}

.nav{
	flex: 1;
	text-align:center;
	align-items: center}

/* Menu items growing to fit available horizontal space*/
.nav > a{
	flex: 1;
}

.nav-item{
	text-decoration: none;
	display: inline-block;
}

/* Footer */
.footer{
	-ms-grid-row: 7;
 	-ms-grid-column: 1;
 	-ms-grid-row-span: 1;
 	-ms-grid-column-span: 8;
 	grid-area: f;
 	-ms-grid-column-align: stretch;
 }

@media only screen and (min-width : 600px) {
	.grid{
		margin: auto;
		width: 70%;
		grid-template-areas:
			"h h h h h h h h"
			"a a c c c c c c"
			"a a c c c c c c"
			"f f f f f f f f";
	  	}

		/*	h1 is used to make the entire banner clickable but it overflow the container in IE: FIXED*/
		.header h1{
			width: 100%;
			height: 40%;
		}

		.header-text{
			justify-content: flex-start;
			padding-left: 3.5em;
		}

		.h-job{
			padding-left: 0;
		}

		.nav-ul{
			flex-direction: column;

		}

		.main{
			justify-content: center;
		}
}
