/*	
 * 	TODO
 *	Implement a better gallery: on click the image will enlarge 
 */


*{
	box-sizing: border-box;
}

html{
	font-size: 1em;
}

html, body{
	font-size: 100%;
	margin: 0;
	padding: 0;
	max-width: 100%;
	/* Horizontal scroll on IE11 fix*/
	overflow-x: hidden;
}
h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.875em;
}

p {
    font-size: 0.875em;
}

h3{
    font-size: 1.17em;
}

/* tap target */
a{
	min-width: 48px;
	min-height: 48px;
}


img{
	max-width: 100%;
	max-height: 100%;
}

/* Ally */
.skip a{
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
	border: 1px solid black;
	color: white;
}

.skip a:focus{
	position:static;
	width:auto;
	height:auto;
}

/* Grid */
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0px 15px;
	width: 100%;
}

/* Header */
.header{
    height: 7.5em;
    border-bottom: 3px groove #0bbcef;
    flex-wrap: wrap;
}

.header-text{
	display: flex;
	flex-wrap: wrap;
	text-decoration: none;
	color:  #0bbcef;
	font-family: 'Slabo 27px', serif;
}

.logo{
	display: flex;
	align-items: center;
	flex: 1;
}

.h-text{	
	align-content: center;
	height: 7.5em;
	display: flex;
	flex-wrap: wrap;
	flex: 3;
	justify-content: space-between;
}

.h-text h1, .h-text h3{
	margin: 0;
}

/* Articles */
article{
	padding: 0.5em;
	line-height: 1.5;
	letter-spacing: 1px;    
	border-bottom: 1px groove #0bbcef;
}

article p::first-letter { 
    font-size: 250%;
	color: #0a9ec9;
	font-family: "Comic sans", cursive;  
	font-weight: bold;
  	line-height: .1em;
}

article p:first-child{
    font-style: italic;	
}

.p-title{    
	margin: 0.3em;
}

/* Main */

figure{
	margin: 0.5em auto;
}

figure img{
	max-width: 100%;
}

.main{
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0px 15px;
 	font-size: 1.2rem;
 	text-align: justify;
}


/* Gallery */
.demo{
	display: flex;
	text-align: center;
	width: 100%;
	flex-wrap: wrap;
	
}
.demo-content{	
	padding:1em;
	display: flex;
	flex-wrap: wrap;
	flex: auto;
	align-items: flex-start;
}

.demo-content img{		
	width: 98%;
	-webkit-box-shadow: 2px 3px 11px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 3px 11px -1px rgba(0,0,0,0.75);
	box-shadow: 2px 3px 11px -1px rgba(0,0,0,0.75);
}

.demo-content h3, p{		
	width: 100%;
}

/* Menu */

.nav{
	text-align: center;
	margin-top: 0.5em;
	display: flex;
	margin: auto;
}

.nav-ul{
	justify-content: space-around;
	list-style: none;
	display: flex;
	width: 100%;
	padding: 0;
}

.nav-item{
	background-color: #0a9ec9;
	padding: 1em;
	flex: 1;
	text-decoration: none;
	background-color: #0DC8FF; background-image: -webkit-gradient(linear, left top, left bottom, from(#0DC8FF), to(#0A9EC9));
	background-image: -webkit-linear-gradient(top, #0DC8FF, #0A9EC9);
    background-image: -moz-linear-gradient(top, #0DC8FF, #0A9EC9);
	background-image: -ms-linear-gradient(top, #0DC8FF, #0A9EC9);
	background-image: -o-linear-gradient(top, #0DC8FF, #0A9EC9);
	background-image: linear-gradient(to bottom, #0DC8FF, #0A9EC9);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#0DC8FF, endColorstr=#0A9EC9);
	border:1px solid #00a4d4; 
	-webkit-border-radius: 10%; 
	-moz-border-radius: 10%;
	border-radius: 10%;
	font-size:14px;
	font-family:arial, helvetica, sans-serif; 
	text-decoration:none; 
	text-shadow: -1px -1px 0 rgba(0,0,0,0.5);
	font-weight:bold; color: #FFFFFF;
}

.nav-item:hover{
	border:1px solid #0080a6;
	background-color: #00a8d9; background-image: -webkit-gradient(linear, left top, left bottom, from(#00a8d9), to(#0DC8FF));
	background-image: -webkit-linear-gradient(top, #00a8d9, #0DC8FF);
	background-image: -moz-linear-gradient(top, #00a8d9, #0DC8FF);
	background-image: -ms-linear-gradient(top, #00a8d9, #0DC8FF);
	background-image: -o-linear-gradient(top, #00a8d9, #0DC8FF);
	background-image: linear-gradient(to bottom, #00a8d9, #0DC8FF);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#00a8d9, endColorstr=#0DC8FF);
}

footer{
	text-align: center;
	padding: 0.5em;
	line-height: 1.5;
}
@media screen and (min-width: 400px) {

	.demo-content{
		width: 48%;
		max-width: 48%;		
	}

	.h-text{
		justify-content: center;
	}
}

@media screen and (min-width: 550px) {
	.wrapper{
		width: 80%;
		margin-left: auto;		/* For some reason margin: auto didn't work */
		margin-right: auto;
	}

	.h-text {
		justify-content: flex-start;
	}

	.h-text h3{
		margin-left: auto;
	}

	.nav{
		width: 90%;
	}
}


@media screen and (min-width: 700px) {
	.header{
		height: 7em;		
		flex: auto;
	}

	.h-text{
		align-items: center;
		justify-content: flex-start;
	}
	.nav{
		width: 65%;
	}
}
@media screen and (min-width: 850px) {
	.wrapper{
		width: 70%;
	}

	figure{
		width: 80%;
	}

	figure img{
		width: 120%;
	}

	.demo-content{
		flex: 30%;
		max-width: 30%;
	}
}

@media screen and (min-width: 950px) {
	.demo-content{
		flex: 25%;
		max-width: 25%;
	}

	.header{
		padding: 0 2em;
	}

	.h-text{		

		justify-content: flex-end;
	}

	.h-text h3{
		margin: 1em;
	}
	
	.logo img{
		width: 50%;
	}
}